<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>{{ post.title }}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">

                        <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered"
                            alt="{{ post.alt }}">
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
