<section id="work" class="work-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-25">
                    <h2 class="title">Other Projects</h2>
                    <p> These are some of the projects that I have worked on in the past few years. Hover over
                        them to
                        learn more about each one.
                    </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="assets/images/work/w-1.jpg" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">

                            <h3 class="work-title">FTC Rover Ruckus Robot</h3>
                            <p style="color: white; margin: 15px">
                                I was the main builder and programmer on my FTC team, and learned a lot about
                                systems design while working on this robot.
                            </p>
                            <ul>
                                <li><a class="image-popup" href="assets/images/work/w-1.jpg"><i
                                            class="lni-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="assets/images/work/w-2.jpg" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">Engineering Product Design</h3>
                            <p style="color: white; margin: 15px">
                                This was a project to make a robot drive up a wall, and this was my first
                                real Arduino project with bluetooth and mobile connectivity
                            </p>
                            <ul>
                                <li><a class="image-popup" href="assets/images/work/w-2.jpg"><i
                                            class="lni-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="assets/images/work/w-3.jpg" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">FTC Relic Recovery Robot</h3>
                            <p style="color: white; margin: 15px">
                                This was the year I became "lead builder and programmer", so I learned
                                the major responsibilities that are associated with that title.
                            </p>
                            <ul>
                                <li><a class="image-popup" href="assets/images/work/w-3.jpg"><i
                                            class="lni-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="assets/images/work/w-4.gif" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">TSA Animatronics</h3>
                            <p style="color: white; margin: 15px">
                                For the TSA competition, my team made a writing robot in one weekend, and
                                although it was crude, it worked pretty well in the end.
                            </p>
                            <ul>
                                <li><a class="image-popup" href="assets/images/work/w-4.gif"><i
                                            class="lni-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="assets/images/work/w-5.jpg" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">Antweight Battlebot</h3>
                            <p style="color: white; margin: 15px">
                                This was part of the battlebot marathon, so my team and I created this robot
                                from scratch in 24 hours.
                            </p>
                            <ul>
                                <li><a class="image-popup" href="assets/images/work/w-5.jpg"><i
                                            class="lni-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-work text-center mt-30">
                    <div class="work-image">
                        <img src="assets/images/work/w-6.gif" alt="work">
                    </div>
                    <div class="work-overlay">
                        <div class="work-content">
                            <h3 class="work-title">Light up Sign</h3>
                            <p style="color: white; margin: 15px">
                                For fun, I made an RGB LED sign with the FTC logo laser engraved in acrylic
                                controlled with a potentiometer.
                            </p>
                            <ul>
                                <li><a class="image-popup" href="assets/images/work/w-6.gif"><i
                                            class="lni-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- single work -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <!-- <div class="col-lg-12">
                <div class="work-more text-center mt-50">
                    <a class="main-btn" href="#">more works</a>
                </div> work more -->
            <!-- </div> -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>