<section id="resume" class="call-to-action pt-125 pb-130 bg_cover"
    style="background-image: url(assets/images/call-to-action.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
                <div class="call-action-content text-center">
                    <h2 class="action-title">Looking for an intern?</h2>
                    <p>Check out my experiences and education on my resume to see if I fit your needs</p>
                    <ul>
                        <li><a class="main-btn custom" href="assets/uploads/Mayank_Govilla_Resume.pdf">download
                                resume</a></li>
                    </ul>
                </div> <!-- call action content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>