<section id="about" class="about-area pt-125 pb-130">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="title">About Me</h2>
                    <p>
                        I am a student at WPI studying CS and Robotics, but I like to learn skills across all
                        disciplines.
                        I keep an open mind and am ready to leave my comfort zone to try new things.
                    </p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content mt-50">
                    <h5 class="about-title">Hi There! I'm Mayank Govilla</h5>
                    <p>I am looking to apply my knowledge about engineering to solve real problems in the world
                        and gain more experience working with others in a professional environment.
                    </p>
                    <ul class="clearfix">
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-envelope"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Email:</span> mmgovilla@wpi.edu</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                        <li>
                            <div class="single-info d-flex align-items-center">
                                <div class="info-icon">
                                    <i class="lni-map-marker"></i>
                                </div>
                                <div class="info-text">
                                    <p><span>Location:</span> Morris Plains, NJ</p>
                                </div>
                            </div> <!-- single info -->
                        </li>
                    </ul>
                </div> <!-- about content -->
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6">
                <div class="about-skills pt-25">
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">HTML/CSS</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">70</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="70"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Python</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">80</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="80"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Java</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">80</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="80"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                    <div class="skill-item mt-25">
                        <div class="skill-header">
                            <h6 class="skill-title">Linux</h6>
                            <div class="skill-percentage">
                                <div class="count-box counted">
                                    <span class="counter">60</span>
                                </div>
                                %
                            </div>
                        </div>
                        <div class="skill-bar">
                            <div class="bar-inner">
                                <div class="bar progress-line" data-width="60"></div>
                            </div>
                        </div>
                    </div> <!-- skill item -->
                </div> <!-- about skills -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>